<!-- views/about.ejs -->
<!-- header include -->

  <% include globals/header %>

  <body class="background">
    <header>
      <a href="/" id="logo">
        <h1>PJ Valentini</h1>
        <h2>Designer | Web Developer</h2>
      </a>
      <nav>
        <ul>
          <li><a href="/">Portfolio</a></li>
          <li><a href="about" class="selected">About</a></li>
          <li class="Contact"><a href="contact">Contact</a></li>
          <li class="blog"><a href="bloghome">Blog</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      <section>
        <img src="img/pjvalentini.jpg" alt="Photograph of PJ Valentini" class="profile-photo">
        <h3>About</h3>
          <p>Hi, I am PJ Valentini. This is my Design and Web Development Portfolio. I am currently a student of web development, and I am looking for the opportunity to create high color and vibrant designs for websites, applications and graphic design projects catering to all kinds of companies looking to expand their brand. I am a professional photographer and video editor motivated by strong aesthetics to work on creating your vision.</p>
          <p>If you'd like to follow me on Twitter, my username is
          <a class="anchov" href="http://twitter.com/pjdev11">@pjdev11</a>.</p>
      </section>

  <!-- footer include -->
   <% include globals/footer %>
