<!-- views/about.ejs -->
<!-- header include -->

  <% include globals/header %>

  <body class="background">
    <header>
      <a href="/" id="logo">
        <h1>PJ Valentini</h1>
        <h2>Designer | Web Developer</h2>
      </a>
      <nav>
        <ul>
          <li><a href="/">Portfolio</a></li>
          <li><a href="about" class="selected">About</a></li>
          <li class="Contact"><a href="contact">Contact</a></li>
          <li class="blog"><a href="blog">Blog</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      <section>
        <img src="img/pjvalentini.jpg" alt="Photograph of PJ Valentini" class="profile-photo">
        <h3>About Me</h3>
        <div class="aboutMeDiv">
          <p>Hi, I am PJ Valentini. I'm a Full Stack Developer who loves both ends of the stack. Creating visual interfaces is my absolute favorite thing to do.  I love finding new ways to bring different features to life on the page. Having has the opportunity to build some very cool projects, I want to work for a company with a great culture and that has great people. I thrive off a team environment but can be left to my own devices as well, and I have a great sense of humor.</p>
          <p>If you'd like to follow me on Twitter, my username is
          <a class="anchov" href="http://twitter.com/pjdev11">@pjdev11</a>.</p>
          <p class="gitHubTag">Here is a link to my <a class="gitHubLink" href="https://github.com/pjvalentini">GitHub</a> repos.</p>
        </div>
        <div class="skillsDiv">
          <h3 class="skillsTag">Skills</h3>
          <p>
            Front End: HTML, CSS, JavaScript, JQuery, React.js, Bootstrap, Materialze, EJS and Handlebars.
          </p>
          <p>
            Back End: Node.js, Passport, Sequelize, PostgreSQL.
          </p>
        </div>
      </section>

  <!-- footer include -->
   <% include globals/footer %>
