<!-- views/contact.ejs -->
<!-- header include -->

  <% include globals/header %>

  <body class="background">
    <header>
      <a href="/" id="logo">
        <h1>PJ Valentini</h1>
        <h2>Designer | Web Developer</h2>
      </a>
      <nav>
        <ul>
          <li><a href="/">Portfolio</a></li>
          <li><a href="about">About</a></li>
          <li class="Contact"><a href="contact" class="selected">Contact</a></li>
          <li class="blog"><a href="blog">Blog</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      <section id="primary">
        <h3>General Information</h3>
        <p>
          What I do:
        </p>
          <ul class="jobs">
            <li>Website and Application Development.</li>
            <li>Logo Design and Brand Support.</li>
            <li>Graphic Design</li>
            <li class="prodphoto"><a href="http://www.pjvalentini.com">Product Photography</a></li>
          </ul>
        <p>I am currently looking for new web developlment and design work in the NYC area or remotely. If you have any questions, please don't hesitate to contact me!</p>
        <p>You can reach me by phone, email, or by my twitter or facebook account.</p>
      </section>
      <section id="secondary">
        <h3>Contact Details</h3>
        <ul class="contact-info">
          <li class="phone"><a href="tel:646-831-8260">646-831-8260</a></li>
          <li class="mail"><a href="mailto:pj.valentini@gmail.com">pj.valentini@gmail.com</a></li>
          <li class="twitter"><a href="http://twitter.com/pjdev11">@pjdev11</a></li>
        </ul>
      </section>

<!-- footer include -->
 <% include globals/footer %>
