<!-- views/index.ejs -->
<!-- header include -->

 <% include globals/header %>

  <body class="background">
      <header>
        <a href="/" id="logo">
          <h1>PJ Valentini</h1>
          <h2>Designer | Web Developer</h2>
        </a>
        <nav>
          <ul>
            <li><a href="/" class="selected">Portfolio</a></li>
            <li><a href="about">About</a></li>
            <li class="Contact"><a href="contact">Contact</a></li>
            <li class="blog"><a href="blog">Blog</a></li>
          </ul>
        </nav>
      </header>
      <div class="wrapper">
        <section>
          <ul id="gallery">
            <li>
              <a href="https://serene-earth-77542.herokuapp.com/">
                <img src="img/AcuWare.png" alt="">
                <p>AcuWare Acupuncture study app.</p>
              </a>
            </li>
            <li>
              <a href="https://shrouded-dawn-27333.herokuapp.com/">
                <img src="img/SlaveMediaPlayer.png" alt="">
                <p>Slave Music Player.</p>
              </a>
            </li>
            <li>
              <a href="https://lit-thicket-63525.herokuapp.com/">
                <img src="img/Quotester.png" alt="">
                <p>Quotes CRUD App.</p>
              </a>
            </li>
            <li>
              <a href="https://dry-beach-49070.herokuapp.com/">
                <img src="img/react-movie-searcher.png" alt="">
                <p>React Movie Searcher App.</p>
              </a>
            </li>
            <li>
              <a href="img/image 5.jpg">
                <img src="img/image 5.jpg" alt="">
                <p>3M Innovations Site.</p>
              </a>
            </li>
            <li>
              <a href="img/image 6.jpg">
                <img src="img/image 6.jpg" alt="">
                <p>Flat On Wordpress Site.</p>
              </a>
            </li>
          </ul>
        </section>

    <!-- footer include -->
     <% include globals/footer %>
