<!-- views/index.ejs -->
<!-- header include -->

 <% include globals/header %>

  <body class="background">
      <header>
        <a href="/" id="logo">
          <h1>PJ Valentini</h1>
          <h2>Designer | Web Developer</h2>
        </a>
        <nav>
          <ul>
            <li><a href="/" class="selected">Portfolio</a></li>
            <li><a href="about">About</a></li>
            <li class="Contact"><a href="contact">Contact</a></li>
            <li class="blog"><a href="bloghome">Blog</a></li>
          </ul>
        </nav>
      </header>
      <div class="wrapper">
        <section>
          <ul id="gallery">
            <li>
              <a href="img/image 1.jpg">
                <img src="img/image 1.jpg" alt="">
                <p>Lake Tahoe Tourist Site.</p>
              </a>
            </li>
            <li>
              <a href="img/pjvweb.jpg">
                <img src="img/pjvweb.jpg" alt="">
                <p>Photography site.</p>
              </a>
            </li>
            <li>
              <a href="img/image 2.jpg">
                <img src="img/image 2.jpg" alt="">
                <p>Smart Store Manager Site.</p>
              </a>
            </li>
            <li>
              <a href="img/image 3.jpg">
                <img src="img/image 3.jpg" alt="">
                <p>Altar Group Solutions Site.</p>
              </a>
            </li>
            <li>
              <a href="img/image 5.jpg">
                <img src="img/image 5.jpg" alt="">
                <p>3M Innovations Site.</p>
              </a>
            </li>
            <li>
              <a href="img/image 6.jpg">
                <img src="img/image 6.jpg" alt="">
                <p>Flat On Wordpress Site.</p>
              </a>
            </li>
          </ul>
        </section>

    <!-- footer include -->
     <% include globals/footer %>
