<footer>
    <a href="http://twitter.com/pjdev11"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
    <a href="https://www.facebook.com/pjvalentiniphotography/"><img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
    <h4>&copy; 2017 PJ Valentini.</h4>
</footer>
</div>
</body>
</html>
